.neon-text {
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: flicker 1.5s infinite alternate;
}
.neon-red {
  color: red;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6),
    0 0 30px rgba(255, 0, 0, 0.4);
}

/* Blue Neon */
.neon-blue {
  color: blue;
  text-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.6),
    0 0 30px rgba(0, 0, 255, 0.4);
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  }
  100% {
    opacity: 1;
  }
}
