@import "tailwindcss";
:root {
  --primary-gradient: linear-gradient(135deg, #001f3f, #000000);
}

body {
  background: linear-gradient(135deg, #001f3f, #000000);
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}
@layer utilities {
  .neon-text-auth {
    text-shadow: 0 0 5px currentColor, 0 0 4px currentColor,
      0 0 1px rgba(255, 255, 255, 0.3);
    animation: neonGlow 1.5s infinite alternate;
  }

  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 1px currentColor, 0 0 2px currentColor,
        0 0 12px rgba(255, 255, 255, 0.2);
    }
    100% {
      text-shadow: 0 0 2px currentColor, 0 0 5px currentColor,
        0 0 22px rgba(255, 255, 255, 0.5);
    }
  }
  @keyframes borderAnimation {
    0% {
      border-color: red blue orange teal;
    }
    25% {
      border-color: blue orange teal red;
    }
    50% {
      border-color: orange teal red blue;
    }
    75% {
      border-color: teal red blue orange;
    }
    100% {
      border-color: red blue orange teal;
    }
  }

  .animate-border {
    animation: borderAnimation 4s infinite linear;
  }
}
button {
  cursor: pointer;
}
